<div class="header">
  <div class="logo">
    <h1>ERKAN</h1>
    <!-- <img src="../../assets/logo-1.png" /> -->
  </div>

  <a class="menu" onclick="toggle()"> <i class="fa-solid fa-bars fa-xl"></i></a>

  <div class="header-link mobile-link">
    <a href="">Anasayfa</a>
    <a href="">Hakkımızda</a>
    <a href="">Hizmetler</a>
    <a href="">Blog</a>
    <a href="">İletisim</a>
  </div>

  <div class="contact">
    <div>
      <a><i class="fa-brands fa-twitter fa-lg"></i></a>
      <a><i class="fa-brands fa-instagram fa-lg"></i></a>
      <a><i class="fa-brands fa-linkedin fa-lg"></i></a>
    </div>

    <button class="button">Teklif Al</button>
  </div>
</div>
