<div class="container">
  <div class="row">
    <div class="message left">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i><br />

      <span>
        Kurumsal
        <h2>Web Tasarım</h2>
      </span>
      <br />
      <p>
        İşimi internete taşımak istiyorum diyenlerden misiniz? Markalar için
        <br />
        <b>kurumsal web sitesi </b>hazırlıyoruz
      </p>
      <button>Teklif Al</button>
    </div>

    <div class="img-home clearfix right">
      <img src="/assets/Home.png" />
    </div>
  </div>

  <!-- Kurumsal Web Tasarım -->

  <h3>Kurumsal Web Tasarım</h3>
  <h1>Sıkça Sorulan Sorular</h1>

  <div class="question row">
    <div class="question-div">
      Kurumsal Web Tasarım Nedir?
      <b class="fa-solid fa-plus plus"></b>
    </div>

    <div class="question-div">
      Kurumsal Web Site Tasarım Fiyatları Ne Kadar?
      <b class="fa-solid fa-plus plus"></b>
    </div>

    <div class="answer">
      <pre>
        Kurumsal web siteleri, internette markaların ürünlerini ve hizmetlerini
        resmi olarak temsil etmek ve potansiyel müşteri veya hedef kitleler ile
        iletişim kurma amacı ile açılan internet siteleridir.
      </pre>
    </div>
    <div class="answer">
      <pre>
        Kurumsal web siteleri, internette markaların ürünlerini ve hizmetlerini
        resmi olarak temsil etmek ve potansiyel müşteri veya hedef kitleler ile
        iletişim kurma amacı ile açılan internet siteleridir.
      </pre>
    </div>

    <div class="question-div">
      İyi Bir Kurumsal Web Site Nasıl Olmalıdır?
      <b class="fa-solid fa-plus plus"></b>
    </div>
    <div class="question-div">
      Web Sitemi teslim aldıktan sonra ben yönetebilir miyim?
      <b class="fa-solid fa-plus plus"></b>
    </div>
  </div>
</div>

<!-- Nasıl Çalışıyoruz? -->
<div class="item-container">
  <h3>Nasıl Çalışıyoruz?</h3>
  <h1>Zirveye giden <b> sihirli yolculuk.</b></h1>
  <div class="row">
    <div>
      <div class="item">01</div>
      <div class="item-text">
        <h3>Analiz & Planlama</h3>
        <h6>
          Markanızın ihtiyaçlarını karşılayabilecek bir internet sitesi
          hazırlamak için markanızı ve işinizi analiz ediyoruz.
        </h6>
      </div>
    </div>

    <div>
      <div class="item">02</div>
      <div class="item-text">
        <h3>Geliştirme</h3>
        <h6>
          Sizden aldığımız bilgiler ve analiz ettiğimiz markanıza uygun olarak
          web sitenizi geliştirmeye başlıyoruz.
        </h6>
      </div>
    </div>

    <div>
      <div class="item">03</div>
      <div class="item-text">
        <h3>Test & Kontrol</h3>
        <h6>
          Geliştirme tamamlandıktan sonra test ediyor ve yayına almadan önce
          size gösteriyor birlikte kontrol ediyoruz.
        </h6>
      </div>
    </div>

    <div>
      <div class="item">04</div>
      <div class="item-text">
        <h3>Yayınlama & Teslim</h3>
        <h6>
          Tüm aşamalar başarıyla geçtikten sonra sitenizi yayınlıyor ve size
          teslim ediyoruz.
        </h6>
      </div>
    </div>
  </div>
</div>
