.top-bar {
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.881);
  color: whitesmoke;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.top-bar a {
  margin-right: 20px;
}

@media only screen and (max-width: 800px) {
  .top-bar {
    display: none;
  }
}
